/* CSS reset */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Outfit', sans-serif;
    background-color: var(--dark-blue);
  }

 /* Flex settings */
.flex { display: flex; }
.flex-column { flex-direction: column; }
.flex-justify-center { justify-content: center; }
.flex-justify-between { justify-content: space-between; }
.flex-justify-around { justify-content: space-around; }
.flex-justify-evenly { justify-content: space-evenly; }
.flex-align-center { align-items: center; }
.flex-align-start { align-items: flex-start; }
.flex-align-end { align-items: flex-end; }
.flex-align-stretch { align-items: stretch; }
.flex-align-baseline { align-items: baseline; }

 /* Colors */
 
:root {
    --red: hsl(0, 97%, 63%);
    --black: hsl(223, 30%, 9%);
    --light-blue: hsl(223, 23%, 46%);
    --dark-blue: hsl(223, 36%, 14%);
    --white: hsl(0, 0%, 100%);
}
#trending{

    position: absolute;
    width: 496px;
    height: 181px;
    left: 16px;
    top: 128px;
}
#scroll{ 

    position: absolute;
    width: 496px;
    height: 140px;
    left: 0px;
    top: 41px;  
}
h3 {

/* Trending */


position: absolute;
height: 25px;
left: 0%;
right: 84.68%;
top: calc(50% - 25px/2 - 78px);

font-family: 'Outfit';
font-style: normal;
font-weight: 300;
font-size: 20px;
line-height: 25px;
letter-spacing: -0.3125px;

/* Pure White */

color: #FFFFFF;
}

.main-content {
    padding: 3vw 5vw 5vw;
  }
  h1 {
    font-family: Playfair Display, serif;
    font-size: clamp(25px, 7vw, 70px);
    font-weight: 200;
  }
  h1 + span {
    font-size: clamp(14px, 2vw, 20px);
  }
  .slideshow-container {
    margin-top: 4vw;
    overflow: scroll;
    min-height: 60vmin;
    cursor: grab;
    position: relative;
  }
  .slideshow-container:active {
    cursor: grabbing;
  }
  .slideshow {
    position: absolute;
    height: 100%;
    display: flex;
    pointer-events: none;
  }
  .slide {
    flex-shrink: 0;
    height: 80px;
    width: 240px;
    color: #fff;
    background-size: cover;
    background-position: center;
    position: relative;
    border-radius: 8px;
  }
  .slide:not(:nth-child(1)){
    margin-left: 10px;
  }
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.15);
  }
  .slide h2, .slide a {
    text-shadow: 0 0 5px rgba(0,0,0,0.39);
  }
  .slide h2 {
    position: absolute;
    top: clamp(10px, 2vw, 20px);
    left: clamp(10px, 2vw, 20px);
    font-size: clamp(20px, 3vw, 40px);
    font-weight: 300;
  }
  .slide a {
    position: absolute;
    bottom: clamp(10px, 2vw, 20px);
    right: clamp(10px, 2vw, 20px);
    font-size: clamp(16px, 3vw, 20px);
    font-weight: 300;
    color: #fff;
    pointer-events: auto;
  }
  
  
  .s1 {
    background-image: url("https://images.unsplash.com/photo-1577495508326-19a1b3cf65b7?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=967&q=80");
  }
  .s2 {
    background-image: url("https://images.unsplash.com/photo-1609766857326-18a204c2cf31?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80");
  }
  .s3 {
    background-image: url("https://images.unsplash.com/photo-1600596542815-ffad4c1539a9?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1054&q=80");
  }
  .s4 {
    background-image: url("https://images.unsplash.com/photo-1566908829550-e6551b00979b?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1049&q=80");
  }
  .s5 {
    background-image: url("https://images.unsplash.com/photo-1580587771525-78b9dba3b914?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=967&q=80");
  }